version: '3'

services:
  payload-production:
    image: arturnawrot/meybohm-frontend:latest
    container_name: payload-production
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:3000'
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    volumes:
      - ./media:/app/media
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_started
  mongo:
    image: mongo:latest
    restart: unless-stopped
    command:
      - --storageEngine=wiredTiger
      - --auth
    env_file:
      - .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    volumes:
      - data:/data/db
    logging:
      driver: none
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "mongodb://localhost:27017/admin", "--eval", "db.adminCommand('ping').ok"]
      interval: 5s
      timeout: 3s
      retries: 30

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    logging:
      driver: none

volumes:
  data:
  redis_data:
  node_modules: