.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 40px;
  font-family: 'GT America Condensed', sans-serif;
  font-weight: 700;
  background-color: var(--sale-green);
  border-color: var(--sale-green);
  border-width: 1px;
  color: var(--strong-green);
  text-decoration: none;
  transition: opacity 0.2s ease, background-color 0.2s ease;
  border-style: solid;
  cursor: pointer;
  width: auto;

  &:hover {
    opacity: 0.9;
    background-color: #cdd876;
  }

  &:focus {
    outline: 2px solid var(--strong-green);
    outline-offset: 2px;
  }
}

.buttonDark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  border-radius: 40px;
  font-family: 'GT America Condensed', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  background-color: #1b2e28;
  border-color: #1b2e28;
  border-width: 1px;
  color: var(--sale-green);
  text-decoration: none;
  transition: opacity 0.2s ease, background-color 0.2s ease;
  border-style: solid;
  cursor: pointer;
  width: auto;
  outline: none;

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline: 2px solid #1b2e28;
    outline-offset: 2px;
  }
}

.fullWidth {
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}
