.mainNavbarLink {
    font-family: "GT America Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FAF9F7;
}

.upperNavbarLink {
    font-weight: 200;
    line-height: 21px;
    font-size: 14px;
    color: #FAF9F7;
}