.cardColumnIcon,
.cardColumnTitle,
.cardColumnDescription {
  color: var(--strong-green);
}

.cardColumnIcon {
  display: inline-block;
  font-size: 54px;
  width: 54px;
  height: 54px;
  line-height: 1;
  
  // Target SVG elements (FontAwesome icons)
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  
  // Target i elements (fallback for CSS-based icons)
  i {
    font-size: inherit;
    color: inherit;
  }
}

.cardColumnTitle {
  font-family: 'GT America Condensed';
  font-weight: 500;
  font-size: var(--headline2);
  line-height: 32px;
}

.cardColumnDescription {
  font-family: 'GT America Condensed';
  font-weight: 400;
  font-size: var(--xl);
  line-height: 27px;
}

