.cardColumnIcon,
.cardColumnTitle,
.cardColumnDescription {
  color: var(--strong-green);
}

.cardColumnIcon {
  display: inline-block;
  font-size: 64px;
  width: 64px;
  height: 64px;
  line-height: 1;
  
  // Target SVG elements (FontAwesome icons)
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  
  // Target i elements (fallback for CSS-based icons)
  i {
    font-size: inherit;
    color: inherit;
  }
}

.cardColumnTitle {
  font-family: 'GT America Condensed';
  font-weight: 500;
  font-size: var(--headline2);
  line-height: 32px;
}

.cardColumnDescription {
  font-family: 'GT America Condensed';
  font-weight: 400;
  font-size: var(--xl);
  line-height: 27px;
}

// Bullet Points Variant Styles
.bulletPoint {
  display: inline-block;
  width: 11.25px;
  height: 11.25px;
  min-width: 11.25px;
  min-height: 11.25px;
  background-color: #C1D341;
}

.bulletPointTitle {
  font-family: 'GT America Condensed';
  font-weight: 500;
  font-size: var(--headline3);
  line-height: 1.3;
  color: var(--strong-green);
}

.bulletPointDescription {
  font-family: 'GT America Condensed';
  font-weight: 400;
  font-size: var(--base);
  line-height: 1.5;
  color: var(--gray-600);
}
