.heading {
    font-family: "Copernicus New Cond Trial";
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
}

.subheading {
    font-family: "GT America Condensed";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.containerBackground {
    background: linear-gradient(0deg, rgba(217, 161, 113, 0.1) 0%, rgba(217, 161, 113, 0) 100%);
}