name: meybohm-frontend

services:
  node:
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: dev
    working_dir: /app
    tty: true
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    command: sh -lc "corepack enable || true; tail -f /dev/null"
    ports:
      - "5173:5173"
    restart: unless-stopped

  web:
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: nginx
    ports:
      - "80:80"
    restart: unless-stopped

volumes:
  node_modules:
