@import "tailwindcss";

:root {
    --display2: 64px;
    --display3: 56px;
    --display4: 48px;
    --headline2: 32px;
    --xxl: 20px;
    --xl: 18px;
    --l: 16px;
    --xs: 8px;

    --strong-green: #1C2F29;
    --sale-green: #DAE684; 
}

@font-face {
    font-family: "Copernicus New Cond Trial";
    src: url("/fonts/copernicus-font-family/CopernicusNewCondTrial-070.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GT America Condensed";
    src: url("/fonts/gt-america-trial/GT-America-Condensed-Ultra-Light-Trial.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GT America Condensed";
    src: url("/fonts/gt-america-trial/GT-America-Condensed-Thin-Trial.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GT America Condensed";
    src: url("/fonts/gt-america-trial/GT-America-Condensed-Regular-Trial.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GT America Condensed";
    src: url("/fonts/gt-america-trial/GT-America-Condensed-Medium-Trial.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GT America Condensed";
    src: url("/fonts/gt-america-trial/GT-America-Condensed-Bold-Trial.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.sale-button {
    background-color: var(--sale-green);
    border-color: var(--sale-green);
    border-width: 1px;
    border-radius: 40px;
    color: var(--strong-green);
    font-family: "GT America Condensed";
    font-weight: 700;
    padding: 16px 24px;
}

.display2 {
    font-family: "Copernicus New Cond Trial";
    font-weight: 300;
    font-size: var(--display2);
    line-height: var(--display2);
    color: var(--strong-green);
}

.description {
    font-family: "GT America Condensed";
    font-weight: 400;
    font-size: var(--xxl);
    line-height: 30px;
}

.tan-linear-background {
    background: linear-gradient(
        360deg, 
        rgba(210, 167, 129, 0) 40%, 
        rgba(217, 161, 113, 0.1) 100%
    );
}

body {
    font-family: "GT America Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#home-landing-hero-background {
    color: #1C2F2980;
}

.flipped-m-background {
    background: linear-gradient(
        0deg,
        rgba(217, 161, 113, 0) 0%,
        rgba(217, 161, 113, 0.1) 100%
    );
}

.sand-gradient-background {
    background: radial-gradient(97.87% 101.48% at 97.87% 11.48%, rgba(215, 209, 196, 0.7) 0%, rgba(215, 209, 196, 0.0121075) 72.23%, rgba(215, 209, 196, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}