.preHeader, .author {
    font-family: "GT America Condensed";
    font-weight: 500;
}

.header, .author {
    color: var(--strong-green);
}

.preHeader {
    font-size: 10px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #020303;
}

.header {
    font-family: "Copernicus New Cond Trial";
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0px;
}

.author {
    font-size: var(--l);
    line-height: 24px;
    letter-spacing: 0px;
}