.heading {
  font-family: "Copernicus New Cond Trial", serif;
  font-weight: 300;
  font-size: var(--display4);
  line-height: var(--display4);
  color: var(--strong-green);
  letter-spacing: 0;

  @media (min-width: 768px) {
    font-size: var(--display2);
    line-height: var(--display2);
  }
}
